html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.background-container {
    height: 100%;
    width: 100%;
    background-image: url("/assets/wii_u_screen.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.main-container {
    background-image: linear-gradient(#00000066, #00000066);
    
}